.App {
  font-family: sans-serif;
  text-align: center;
}

.product {
  border: 2px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}

.btn {
  background-color: burlywood;
  margin: 0 1rem;
  padding: 0.7rem;
  border-radius: 6px;
  cursor: pointer;
}
